<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Dashboard'}) %>

  <main data-uid="<%= user._id %>" data-trello-id="<%= user.trelloId %>" data-trello-token="<%= token %>" data-trello-secret="<%= secret %>">
    <p> You've been dashed, <em>sick burn</em>!</p>

    <form>
      <label for="boards">My Boards</label>
      <select id="boards-dropdown"></select>
    </form>

    <ul class="drop-down" id="board-list">
      Here are your boards:
     <!-- template goes here for each board -->
    </ul>


    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn dark-orange' href='#' data-activates='dropdown1'>My Boards</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <!-- Template Insertion Point -->
    </ul>

  </main>

  <%- include('../partials/scripts') %>
  <script src='/js/dashboard.js'></script>
</body>
</html>
