<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Dashboard'}) %>

  <main data-uid="<%= user._id %>" data-trello-id="<%= user.trelloId %>" data-trello-token="<%= token %>" data-trello-secret="<%= secret %>">
    <p> You've been dashed, <em>sick burn</em>!</p>

    <form>
      <label for="boards">My Boards</label>
      <select id="boards">
        <option>Board 1</option>
        <option>Board 2</option>
      </select>
    </form>

    <ul class="drop-down" id="board-list">
      Here are your boards:
     <!-- template goes here for each board -->
    </ul>
  </main>

  <%- include('../partials/scripts') %>

  <script>
    var uid,
        trelloId,
        trelloToken,
        trelloSecret;

    $(document).ready(function() {
      $main = $("main");
      uid          = $main.data("uid");
      trelloId     = $main.data("trello-id");
      trelloToken  = $main.data("trello-token");
      trelloSecret = $main.data("trello-secret");
    });
  </script>
</body>
</html>
